body{
    color: blue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    border: 1px solid black;
}
#post{
    text-align: center;
    color: black;
}
#p{
    background-color: aquamarine;
    color: darkred;
    border: 4px solid blue;
}